.homepage{
    margin-top: 30px;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    /* width: 180px; */
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .button {
    /* float: left; */
    background-color: #333; /* Green */
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  .searchBar {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  video{
    height: 240px;
    width: 320px;
    /* width="320" height="240" */
  }